<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Registration</title>
</head>
<body>
    <h2>Admin Registration</h2>
    <form th:action="@{/admin/register}" method="post" th:object="${admin}">
        <label>User Name:</label>
        <input type="text" th:field="*{username}" /><br><br>
		  <label>Full Name:</label>
		        <input type="text" th:field="*{fullname}" /><br><br>
		              
		     <label>Email:</label>
            <input type="email" th:field="*{email}" />
		
		

        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br><br>
        
        
        <button type="submit">Register</button>
    </form>
</body>
</html>
